.login-accounts {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  place-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  padding: 10%;
  background-color: white;
}
